body {
  background-color: #A0A0A0;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

.sideBar{
  background-color: #0099FF ;
  padding: 20px;
  margin: 0;
  width:10%;
  float:left;
}
.rightBar{
    width:80%;
    margin-left:15%;
    display:block;
}
.footer{
  clear:both;
  border-top:1px black solid;
}

.myPic{
  float:right;
   width: 10%;
   height: 10%;
   padding:3px;
   overflow: hidden;
   display: inline-block;
   border: 1px solid green;
}
